@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");

body {
  font-family: "Montserrat", sans-serif;
  background: white;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.one {
  animation-delay: 0.2s;
}
.two {
  animation-delay: 0.4s;
}

.three {
  animation-delay: 0.6s;
}

.four {
  animation-delay: 0.8s;
}
.five {
  animation-delay: 1s;
}
.six {
  animation-delay: 1.2s;
}

.navbar {
  width: 62px;
  height: 100vh;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.19);
  background: white;
  margin-bottom: 0;
  text-align: center;
}

.nav-items {
  padding-top: 30vh;
}

.block {
  margin-bottom: 6px;
  text-align: center;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  margin-right: 6px;
  font-size: 24px;
  border-radius: 10px;
  color: hsl(360, 77%, 78%);
}

.hidden {
  display: none;
  text-align: center;
}

.block:hover .hidden {
  display: block;
  font-weight: 700;
  font-size: 12px;
  color: hsl(360, 67%, 44%);
}

.home {
  margin-left: 120px;
}

.name {
  padding-left: 100px;
  margin-top: -65vh;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0.12em;
  word-spacing: 12px;
  color: hsl(360, 85%, 25%);
}

.description {
  padding-left: 100px;
  font-size: 24px;
  font-weight: 400;
  margin-top: -36px;
  letter-spacing: 0.12em;
  color: hsl(360, 79%, 32%);
}

.quote {
  padding-left: 100px;
  font-size: 20px;
  margin-top: -12px;
  color: black;
}

.heart {
  margin-top: -30vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.heart-image-home {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
}

.nav-heart {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.red {
  color: hsl(360, 79%, 32%);
}

.experience {
  margin-left: 120px;
  margin-top: -90vh;
  max-width: 600px;
}

.title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.12em;
  word-spacing: 12px;
  color: hsl(360, 85%, 25%);
}

.education-div {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  height: 550px;
  max-height: 600px;
  overflow-y: scroll;
}

.active {
  color: hsl(360, 67%, 44%);
  font-weight: 700;
}

.bold {
  font-weight: 700;
  color: hsl(360, 85%, 25%);
}

.tab-styling {
  font-size: 20px;
  font-family: "Neuton", sans-serif;
  letter-spacing: 0.05em;
}

.tab-styling:hover {
  cursor: pointer;
}

.tab-styling:active {
  transform: translateY(1px);
}

.tab {
  margin-top: -24px;
  margin-bottom: 12px;
}

.spacing {
  margin-left: 12px;
}

.border-text {
  border: 1px solid hsl(43, 13%, 90%);
  width: 550px;
  max-height: 900px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.sfsu-picture {
  width: 96px;
  height: auto;
}

.text {
  margin: 0 18px;
}

.text-size {
  font-size: 16px;
  margin: 0;
}

.text-size-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 24px;
}

.description-school-div {
  margin-top: -24px;
}

.separate {
  margin-top: 12px;
  margin-bottom: 12px;
}

.school {
  color: hsl(360, 85%, 25%);
  font-weight: 700;
}

.heart-image {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
}

.heart-experience {
  margin-top: -450px;
  position: fixed;
  margin-left: 700px;
}

.stanford {
  margin-left: -24px;
  margin-top: -64px;
  width: 250px;
  height: auto;
  display: flex;
  justify-content: flex-start;
}

.title-div {
  margin-top: -36px;
  display: flex;
  justify-content: space-between;
}

.sub-title {
  font-weight: 500;
}

.margin-bot {
  margin-bottom: 12px;
}
.margin-top {
  margin-top: -84px;
}

.sanmateo {
  margin-top: 24px;
  margin-bottom: -12px;
  width: 100px;
  height: auto;
}
.spacing {
  margin-top: 36px;
}

.stanford2 {
  margin-left: -24px;
  margin-top: -64px;
  margin-bottom: -100px;
  width: 250px;
  height: auto;
  display: flex;
  justify-content: flex-start;
}

.kaiser {
  width: 250px;
  height: auto;
}

.sutter {
  width: 200px;
  height: auto;
}

.space {
  padding-bottom: 36px;
}

.rok {
  margin-top: 24px;
  margin-bottom: -12px;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

@media all and (max-width: 1690px) {
}
@media all and (max-width: 1280px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 736px) {
}
@media all and (max-width: 480px) {
}
