@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");

body {
  font-family: "Quicksand", sans-serif;
}

.navbar {
  border-right: 1px solid;
  width: 50px;
  height: 2000px;
  margin-top: -20px;
}

.nav-items {
  padding-top: 250px;
  margin-bottom: 200px;
  margin-left: 15px;
}

.block {
  display: block;
  padding: 20px 0;
}

#home-hidden {
  display: none;
}

.block:hover #home-hidden {
  display: inline;
}
